# Dependencies
node_modules

# Build outputs
.next
out
build
dist

# Environment files
.env
.env.local
.env.production.local
.env.development.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# Other
coverage
.turbo
package-lock.json
yarn.lock
pnpm-lock.yaml
